html
  head
    title=title
    link(href='/css/main.css', rel='stylesheet')
  body
    h3 Goodview
    | edit
    br
    div
      | detail detail detail detail
      br
    div
      a(href='/') Back
