html
  head
    title=title
    link(href='/css/main.css', rel='stylesheet')
  body
    h3 Goodview
    | Manage Queue
    br
    div
      h4 Queue's list
      | 1) test
      br
      a(href='') Call Queue
      br
      a(href='') Delete Queun
      br
      br
    div
      a(href='/') Back
