html
  head
    title=title
    link(href='/css/main.css', rel='stylesheet')
  body
    a(href='/') Back
    each msg in message
      div.flash
        = msg
    form(name='login', method='POST', action='/login')
      div
        label(for='username') Username
        input(name='username', type='text', placeholder='Username')
      div
        label(for='password') Password
        input(name='password', type='password', placeholder='Password')
      div
        input(type='submit', value='Login')
